.navBar {
  display: flex;
  height: 60px;
  width: 1010px;
  background-color: #8a8692;
  color: #e8be02;
  font-size: 28px;
  font-weight: 800;
  font-family: "Roboto";
}
.navBar > * {
  margin-left: 25px;
  margin-top: 10px;
}
